<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        {{#themes}}
        <div class="item {{#if active}}active{{/if}}">
            <img src="{{bkg_img_url}}" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{title}}</h1>
                    <p class="lead">{{description}}</p>
                    <a class="btn btn-large btn-primary" href="/themes/{{id}}/submissions/new">submit photo</a>
                </div>
            </div>
        </div>
        {{/themes}}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <h1 class="recent-projects">Recent Projects</h1>

    <!-- Three columns of text below the carousel -->
    {{#themes_with_assets}}
        {{#if colStart}}
        <div class="row">
        {{/if}}

            <div class="span4 project-container">
                <a href="/themes/{{theme_id}}/submissions"><img class="img" src="{{url}}"></a>
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                {{#if active}}
                    <p><a class="btn" href="/themes/{{theme_id}}/submissions/new">submit photo »</a></p>
                {{/if}}
            </div><!-- /.span4 -->
        {{#if colEnd}}
        </div><!-- /.row -->
        {{/if}}
    {{/themes_with_assets}}


    <!-- FOOTER -->
    <div class="row copyright">
        <div class="span10 offset1">
            <p class="muted credit">© 2013 National Public Radio. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </div>
    </div>

</div><!-- /.container -->
