<script type="text/javascript"> var potluck_submission_msg_char_limit = {{submission_msg_char_limit}}; </script>

{{#forwardedUpload}}
<div class="alert">
    <strong>Success!</strong> Thank you for your submission.
</div>
{{/forwardedUpload}}

<form class="form-horizontal" action="/submissions/save" method="post" enctype="multipart/form-data">

    <!-- General submission information section -->
    <div class="control-group">
        <label class="control-label" for="inputTheme">Submitting to:</label>
        <div class="controls">
            <select id="inputTheme" name="theme" class="select2">
                {{#themes}}
                    <option value="{{id}}" {{#if active}}selected{{/if}} >{{title}}</option>
                {{/themes}}
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputName">Your Name</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" id="inputName" name="name" placeholder="Your Full Name" required>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Your Email</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                <input type="text" id="inputEmail" name="email" placeholder="Email" required>
            </div>
        </div>
    </div>

    {{#NotYetImplemented}}

        <div class="control-group">
            <label class="control-label" for="inputTags">Tags</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-tags"></i></span>
                    <input type="text" id="inputTags" name="tags" placeholder="Tags describing the submission">
                </div>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputMessage">Message</label>
            <div class="controls">
                <textarea rows="5" id="inputMessage" name="message" placeholder="Short Message"></textarea>
                <div><span id="remainingCharacters"></span> characters remaining.</div>
            </div>
        </div>

    {{/NotYetImplemented}}

    <!-- End of general submission information section -->

    <!-- File uploads section -->
    {{#resources}}
        <fieldset>
            <!-- legend>File Upload #{{num}}:</legend -->

            <div class="control-group">
                <label class="control-label" for="inputFile{{num}}">File</label>
                <div class="controls">
                    <input type="file" id="inputFile{{num}}" name="assets[{{num}}]" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputCaption{{num}}">Caption</label>
                <div class="controls">
                    <textarea rows="5" id="inputCaption{{num}}" name="caption[{{num}}]" placeholder="Caption describing the upload" required></textarea>
                    <div><span id="remainingCharacters{{num}}"></span> characters remaining.</div>
                    <!-- input type="text" id="inputCaption{{num}}" name="caption[{{num}}]" placeholder="Caption describing the upload" required-->
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputCopyright{{num}}">Copyright</label>
                <div class="controls">
                    <input type="text" id="inputCopyright{{num}}" name="copyright[{{num}}]" placeholder="Copyright Info">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputLocation{{num}}">Location</label>
                <div class="controls">
                    <input type="text" id="inputLocation{{num}}" name="location[{{num}}]" placeholder="Location Info">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputDate{{num}}">Date</label>
                <div class="controls date">
                    <input type="text" id="inputDate{{num}}" name="date[{{date}}]" class="datepicker">
                </div>
            </div>

        </fieldset>
    {{/resources}}
    <!-- End of file uploads section -->

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" required> I hereby confirm that I am the copyright holder on the submitted content or have
                all legal rights to submit the content.
            </label>
            <button type="submit" class="btn btn-large btn-primary">Submit</button>
        </div>
    </div>



</form>